.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Automatically adjusts columns based on content */
    gap: 24px;
    padding-left: 10%;
    padding-right: 10%;
    flex-wrap: wrap;
}

.content-grid > * {
    object-fit: cover; /* Ensures that the content fits within the box, such as images */
    aspect-ratio: 1 / 1; /* Ensures the children maintain a square aspect ratio */
    width: 100%; /* Ensures the children take up the full width of their grid cell */
    height: 100%; /* Ensures the children take up the full height of their grid cell */
    overflow: hidden; /* Prevents any content from spilling out */
    display: flex; /* Ensures the image is properly aligned inside */
    justify-content: center;
    flex-wrap: wrap;
}

/* For the images, add custom sizing */
.project-cover img {
    max-width: 100%; /* Ensures image takes full width of the container */
    max-height: 100%; /* Ensures image takes full height of the container */
    object-fit: cover; /* Ensures the image scales correctly */
    object-position: center;
    aspect-ratio: inherit;
}

.content-video {
    display: grid;
    width: 80%; /* Ensures the children take up the full width of their grid cell */
    height: 100%; /* Ensures the children take up the full height of their grid cell */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid */
    gap: 24px;
    object-position: center;
  }

.video-wrapper {
    aspect-ratio: 9 / 16; /* Vertical format */
    height: 90%;
    overflow: hidden;
    object-position: center;
  }
  
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

.project-header {
    margin: 0;
    padding: 24px 8%;
}

.project-header h1 {
    margin: 0;
    font-size: 19px;
}

/* For the images, add custom sizing */
.project-header p {
    margin: 0;
    font-size: 16px;
    margin-top: 8px;
}
