/* General styles */
body {
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation styles */
header {
    background: white;
    padding: 0;
    text-align: center;
    background-color: yellow;
}

/* Navigation Styles */
nav {
    background: white;
    padding: 40px 15%;
    border-bottom: 0.5px solid #060606;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: "100%";
    width: "100%";
}

.logo img {
    height: 40px;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    border-radius: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: all 0.4s ease;
}

/* Selected/Active Nav Item */
.nav-links li a.active {
    color: black;
    background: #d7ff3e;
    border: 1px solid black; /* 0.5px bolder */
    font-weight: 1000;
    border-radius: 20px;
}

/* Get in Touch Button */
.nav-links li a.contact-btn {
    padding: 10px 20px;
    border-radius: 20px;
}

/* Main Content */
main {
    flex: 1;
    width: auto;
    height: auto;
}

/* Footer */

/* Initially hidden, use .hidden to hide the footer content */
.hidden {
    display: none;
}

/* Footer content style when it is visible */
#contact-footer {
    text-align: center;
    padding: 120px 0;
    border-radius: 10px;
}

.footer-bottom {
    background: #d7ff3e;
    text-align: center;
    padding: 30px 0;
}

#content {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column; /* Ensures the content stacks vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
}

#content > div {
    margin-top: 120px ;
}



